@font-face {
  font-family: 'Cochin';
  src: url('../assets/fonts/cochin-regular.woff2') format('woff2'),
       url('../assets/fonts/cochin-regular.woff') format('woff'),
       url('../assets/fonts/cochin-regular.ttf') format('truetype');
  font-weight: regular;
}

@font-face {
  font-family: 'Cochin';
  src: url('../assets/fonts/cochin-bold.woff2') format('woff2'),
       url('../assets/fonts/cochin-bold.woff') format('woff'),
       url('../assets/fonts/cochin-bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Scribe';
  src: url('../assets/fonts/scribe.woff2') format('woff2'),
       url('../assets/fonts/scribe.woff') format('woff'),
       url('../assets/fonts/scribe.ttf') format('truetype');
  font-weight: regular;
}
