@import "reset.css";
@import "fonts.css";
@import "vars.css";

body {
  background: url(../assets/img/bg.png) no-repeat center center fixed;
  background-size: cover;
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

.btn {
  font-family: 'Scribe';
  background: url(../assets/img/stopbtn.png);
  background-size: 100% 100%;
  padding: 4.5vh 0 4vh;
  display: block;
  text-align: center;
}

.btn a {
  color: white;
  text-decoration: none;
}

.ingame-left {
  width: 28%;
}

.clock {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6fr 4fr;
  transform-origin: top center;
  animation: swingClock 3s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes swingClock {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(3deg);
  }
}

.clock img {
  width: 58%;
  margin: 0 21%;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.clock .timer {
  font-family: 'Cochin';
  color: var(--DarkRed);
  font-size: 7vw;
  text-align: center;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  align-self: center;
}

.stop {
  width: 20%;
  position: absolute;
  bottom: 3vh;
  left: 1vw;
}

.stop a {
  font-size: 2vw;
  width: 60%;
  padding: 2vh 3vw;
}

.intro {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}


.intro h1 {
  color: white;
  font-family: Scribe;
  font-size: 4vw;
  text-align: center;
}

.intro p {
  font-family: Cochin;
  color: white;
  font-size:  2.5vw;
  line-height: 3.5vw;
  width: 50%;
  margin: 3vw 25% 0;
  text-align: center;
}

.intro a {
  width: 30%;
  font-size: 3vw;
  padding: 0 14vw;
}

.intro .btn {
  width: 40%;
  margin: 7vw 30% 0;
}
