.introBody {
  background: url(../assets/img/vanEycksView-bg.png) no-repeat center center fixed;
  background-size: cover;
  box-sizing: border-box;
  font-size: 62.5%;
}

.ingame-flex {
  display: flex;
}

.painting {
  width: 44%;
  height: 100vh;
  display: grid;
  grid-column: 1fr 1fr 1fr;
  justify-content: center;
}

.paintingimg {
  /* width: 100%; */
  height: 95vh;
  align-self: center;
  border: .3rem solid var(--DarkRed);
  box-sizing: border-box;
  grid-row: 1;
  grid-column: 2;
  /* height: 100%; */
}

.clickListeners {
  /* background: rgb(0, 0, 0, .7); */
  grid-row: 1;
  grid-column: 2;
  z-index: 9;
  position: relative;
}

.colorFeedback {
  grid-row: 1;
  grid-column: 2;
  z-index: 6;
  width: 100%;
  height: 95vh;
  margin-top: 2.5vh;
}

@keyframes feedBackPositive {
  0% {
    background: rgba(66, 174, 150, 0);
  }
  50% {
    background: rgba(66, 174, 150, .3);
  }
  100% {
    background: rgba(66, 174, 150, 0);
  }
}

@keyframes feedBackNegative {
  0% {
    background: rgba(154, 77, 69, 0);
  }
  50% {
    background: rgba(154, 77, 69, .3);
  }
  100% {
    background: rgba(154, 77, 69, 0);
  }
}

.detail {
  /* background: rgba(0, 0, 0, .6); */
  position: absolute;
}

.tap-instruction {
  width: 5vw;
  height: 5vw;
  background: rgba(0, 0, 0, .5);
  border: .1rem solid rgba(255, 255, 255, .5);
  border-radius: 100%;
  grid-row: 1;
  grid-column: 2;
  align-self: end;
  justify-self: end;
  margin-bottom: 8vh;
  margin-right: 4vw;
}

.tap-instruction img {
  width: 80%;
  padding: 10%;
  opacity: .7;
}

.tap-instruction-hide {
  animation: fadeOpacityTapInstruction 500ms forwards;
}

@keyframes fadeOpacityTapInstruction {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.ingame-right {
  width: 28%;
  font-size: 2vw;
  text-align: left;
}

.ingame-right .hint {
  padding: 3vw;
  margin: 2vw;
  background: url(../assets/img/paper.png) center;
  background-size: cover;
  border-radius: 1vw;
  min-height: 10vh;
}

.ingame-right .hint-guessed {
  opacity: .5;
  animation: lowOpacityStrikeTrough 500ms forwards;
}

@keyframes lowOpacityStrikeTrough {
  from {
    opacity: 1;
    text-decoration: none;
  }
  to {
    opacity: .5;
    text-decoration: line-through;
  }
}
