.introBody {
  background: url(../assets/img/vanEycksView-bg.png) no-repeat center center fixed;
  background-size: cover;
  box-sizing: border-box;
  font-size: 62.5%;
}

.ingame-flex {
  display: flex;
}

.painting {
  width: 44%;
  height: 100vh;
  display: grid;
  grid-column: 1fr 1fr 1fr;
  justify-content: center;
}

.paintingimg {
  /* width: 100%; */
  height: 95vh;
  align-self: center;
  border: .3rem solid var(--DarkRed);
  box-sizing: border-box;
  grid-row: 1;
  grid-column: 2;
  /* height: 100%; */
}

.tap-instruction {
  width: 2.5vw;
  height: 2.5vw;
  background: rgba(0, 0, 0, .5);
  border: .1rem solid rgba(255, 255, 255, .5);
  border-radius: 100%;
  grid-row: 1;
  grid-column: 2;
  align-self: end;
  justify-self: end;
  margin-bottom: 4vh;
  margin-right: 1vw;
}

.tap-instruction img {
  width: 80%;
  padding: 10%;
  opacity: .7;
}

.ingame-right {
  width: 28%;
  color: white;
  font-size: 2vw;
  text-align: left;
}

.ingame-right .hint {
  padding: 3vw;
  margin: 2vw;
  background: var(--DarkRed);
  border-radius: 1vw;
}

.ingame-right .hint-guessed {
  background: #42AE96;
  animation: fadeToGreen 500ms;
}

@keyframes fadeToGreen {
  from {
    background: var(--DarkRed);
  }
  to {
    background: #42AE96;
  }
}
